<div class="card">
  <div class="card__content">
    {{ text }}
  </div>
  <div class="card__meta">
    <div>{{ author }}</div>
    <div class="tip tip--right">
      <i class="icon icon--18px mdi mdi-information-outline"></i>
      <div class="tip__text">
        {{ email }}
      </div>
    </div>
  </div>
</div>