
.btn--gray[data-v-91798c] {
  background-color: #f1f1f1 !important;
}
.img[data-v-91798c] {
  display: block;
  margin-bottom: 8px;
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/**
 * Bulma grid.
 *
 * Use `node-sass grid.sass grid.css` to compile.
 *
 * `grid.sass`
 * @import "utilities/_all"
 * @import "grid/columns"
 * @import "elements/container"
 */
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }
  .columns.is-mobile > .column.is-narrow {
    flex: none; }
  .columns.is-mobile > .column.is-full {
    flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-three-quarters {
    flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-two-thirds {
    flex: none;
    width: 66.6666%; }
  .columns.is-mobile > .column.is-half {
    flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-one-third {
    flex: none;
    width: 33.3333%; }
  .columns.is-mobile > .column.is-one-quarter {
    flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-one-fifth {
    flex: none;
    width: 20%; }
  .columns.is-mobile > .column.is-two-fifths {
    flex: none;
    width: 40%; }
  .columns.is-mobile > .column.is-three-fifths {
    flex: none;
    width: 60%; }
  .columns.is-mobile > .column.is-four-fifths {
    flex: none;
    width: 80%; }
  .columns.is-mobile > .column.is-offset-three-quarters {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-offset-two-thirds {
    margin-left: 66.6666%; }
  .columns.is-mobile > .column.is-offset-half {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-offset-one-third {
    margin-left: 33.3333%; }
  .columns.is-mobile > .column.is-offset-one-quarter {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-offset-one-fifth {
    margin-left: 20%; }
  .columns.is-mobile > .column.is-offset-two-fifths {
    margin-left: 40%; }
  .columns.is-mobile > .column.is-offset-three-fifths {
    margin-left: 60%; }
  .columns.is-mobile > .column.is-offset-four-fifths {
    margin-left: 80%; }
  .columns.is-mobile > .column.is-1 {
    flex: none;
    width: 8.33333%; }
  .columns.is-mobile > .column.is-offset-1 {
    margin-left: 8.33333%; }
  .columns.is-mobile > .column.is-2 {
    flex: none;
    width: 16.66667%; }
  .columns.is-mobile > .column.is-offset-2 {
    margin-left: 16.66667%; }
  .columns.is-mobile > .column.is-3 {
    flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-offset-3 {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-4 {
    flex: none;
    width: 33.33333%; }
  .columns.is-mobile > .column.is-offset-4 {
    margin-left: 33.33333%; }
  .columns.is-mobile > .column.is-5 {
    flex: none;
    width: 41.66667%; }
  .columns.is-mobile > .column.is-offset-5 {
    margin-left: 41.66667%; }
  .columns.is-mobile > .column.is-6 {
    flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-offset-6 {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-7 {
    flex: none;
    width: 58.33333%; }
  .columns.is-mobile > .column.is-offset-7 {
    margin-left: 58.33333%; }
  .columns.is-mobile > .column.is-8 {
    flex: none;
    width: 66.66667%; }
  .columns.is-mobile > .column.is-offset-8 {
    margin-left: 66.66667%; }
  .columns.is-mobile > .column.is-9 {
    flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-offset-9 {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-10 {
    flex: none;
    width: 83.33333%; }
  .columns.is-mobile > .column.is-offset-10 {
    margin-left: 83.33333%; }
  .columns.is-mobile > .column.is-11 {
    flex: none;
    width: 91.66667%; }
  .columns.is-mobile > .column.is-offset-11 {
    margin-left: 91.66667%; }
  .columns.is-mobile > .column.is-12 {
    flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-offset-12 {
    margin-left: 100%; }
  @media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
      flex: none; }
    .column.is-full-mobile {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-mobile {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-mobile {
      flex: none;
      width: 66.6666%; }
    .column.is-half-mobile {
      flex: none;
      width: 50%; }
    .column.is-one-third-mobile {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-mobile {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-mobile {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-mobile {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-mobile {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-mobile {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-mobile {
      margin-left: 75%; }
    .column.is-offset-two-thirds-mobile {
      margin-left: 66.6666%; }
    .column.is-offset-half-mobile {
      margin-left: 50%; }
    .column.is-offset-one-third-mobile {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-mobile {
      margin-left: 25%; }
    .column.is-offset-one-fifth-mobile {
      margin-left: 20%; }
    .column.is-offset-two-fifths-mobile {
      margin-left: 40%; }
    .column.is-offset-three-fifths-mobile {
      margin-left: 60%; }
    .column.is-offset-four-fifths-mobile {
      margin-left: 80%; }
    .column.is-1-mobile {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-mobile {
      margin-left: 8.33333%; }
    .column.is-2-mobile {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-mobile {
      margin-left: 16.66667%; }
    .column.is-3-mobile {
      flex: none;
      width: 25%; }
    .column.is-offset-3-mobile {
      margin-left: 25%; }
    .column.is-4-mobile {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-mobile {
      margin-left: 33.33333%; }
    .column.is-5-mobile {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-mobile {
      margin-left: 41.66667%; }
    .column.is-6-mobile {
      flex: none;
      width: 50%; }
    .column.is-offset-6-mobile {
      margin-left: 50%; }
    .column.is-7-mobile {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-mobile {
      margin-left: 58.33333%; }
    .column.is-8-mobile {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-mobile {
      margin-left: 66.66667%; }
    .column.is-9-mobile {
      flex: none;
      width: 75%; }
    .column.is-offset-9-mobile {
      margin-left: 75%; }
    .column.is-10-mobile {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-mobile {
      margin-left: 83.33333%; }
    .column.is-11-mobile {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-mobile {
      margin-left: 91.66667%; }
    .column.is-12-mobile {
      flex: none;
      width: 100%; }
    .column.is-offset-12-mobile {
      margin-left: 100%; } }
  @media screen and (min-width: 769px), print {
    .column.is-narrow, .column.is-narrow-tablet {
      flex: none; }
    .column.is-full, .column.is-full-tablet {
      flex: none;
      width: 100%; }
    .column.is-three-quarters, .column.is-three-quarters-tablet {
      flex: none;
      width: 75%; }
    .column.is-two-thirds, .column.is-two-thirds-tablet {
      flex: none;
      width: 66.6666%; }
    .column.is-half, .column.is-half-tablet {
      flex: none;
      width: 50%; }
    .column.is-one-third, .column.is-one-third-tablet {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter, .column.is-one-quarter-tablet {
      flex: none;
      width: 25%; }
    .column.is-one-fifth, .column.is-one-fifth-tablet {
      flex: none;
      width: 20%; }
    .column.is-two-fifths, .column.is-two-fifths-tablet {
      flex: none;
      width: 40%; }
    .column.is-three-fifths, .column.is-three-fifths-tablet {
      flex: none;
      width: 60%; }
    .column.is-four-fifths, .column.is-four-fifths-tablet {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters, .column.is-offset-three-quarters-tablet {
      margin-left: 75%; }
    .column.is-offset-two-thirds, .column.is-offset-two-thirds-tablet {
      margin-left: 66.6666%; }
    .column.is-offset-half, .column.is-offset-half-tablet {
      margin-left: 50%; }
    .column.is-offset-one-third, .column.is-offset-one-third-tablet {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
      margin-left: 25%; }
    .column.is-offset-one-fifth, .column.is-offset-one-fifth-tablet {
      margin-left: 20%; }
    .column.is-offset-two-fifths, .column.is-offset-two-fifths-tablet {
      margin-left: 40%; }
    .column.is-offset-three-fifths, .column.is-offset-three-fifths-tablet {
      margin-left: 60%; }
    .column.is-offset-four-fifths, .column.is-offset-four-fifths-tablet {
      margin-left: 80%; }
    .column.is-1, .column.is-1-tablet {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1, .column.is-offset-1-tablet {
      margin-left: 8.33333%; }
    .column.is-2, .column.is-2-tablet {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2, .column.is-offset-2-tablet {
      margin-left: 16.66667%; }
    .column.is-3, .column.is-3-tablet {
      flex: none;
      width: 25%; }
    .column.is-offset-3, .column.is-offset-3-tablet {
      margin-left: 25%; }
    .column.is-4, .column.is-4-tablet {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4, .column.is-offset-4-tablet {
      margin-left: 33.33333%; }
    .column.is-5, .column.is-5-tablet {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5, .column.is-offset-5-tablet {
      margin-left: 41.66667%; }
    .column.is-6, .column.is-6-tablet {
      flex: none;
      width: 50%; }
    .column.is-offset-6, .column.is-offset-6-tablet {
      margin-left: 50%; }
    .column.is-7, .column.is-7-tablet {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7, .column.is-offset-7-tablet {
      margin-left: 58.33333%; }
    .column.is-8, .column.is-8-tablet {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8, .column.is-offset-8-tablet {
      margin-left: 66.66667%; }
    .column.is-9, .column.is-9-tablet {
      flex: none;
      width: 75%; }
    .column.is-offset-9, .column.is-offset-9-tablet {
      margin-left: 75%; }
    .column.is-10, .column.is-10-tablet {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10, .column.is-offset-10-tablet {
      margin-left: 83.33333%; }
    .column.is-11, .column.is-11-tablet {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11, .column.is-offset-11-tablet {
      margin-left: 91.66667%; }
    .column.is-12, .column.is-12-tablet {
      flex: none;
      width: 100%; }
    .column.is-offset-12, .column.is-offset-12-tablet {
      margin-left: 100%; } }
  @media screen and (max-width: 1087px) {
    .column.is-narrow-touch {
      flex: none; }
    .column.is-full-touch {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-touch {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-touch {
      flex: none;
      width: 66.6666%; }
    .column.is-half-touch {
      flex: none;
      width: 50%; }
    .column.is-one-third-touch {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-touch {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-touch {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-touch {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-touch {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-touch {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-touch {
      margin-left: 75%; }
    .column.is-offset-two-thirds-touch {
      margin-left: 66.6666%; }
    .column.is-offset-half-touch {
      margin-left: 50%; }
    .column.is-offset-one-third-touch {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-touch {
      margin-left: 25%; }
    .column.is-offset-one-fifth-touch {
      margin-left: 20%; }
    .column.is-offset-two-fifths-touch {
      margin-left: 40%; }
    .column.is-offset-three-fifths-touch {
      margin-left: 60%; }
    .column.is-offset-four-fifths-touch {
      margin-left: 80%; }
    .column.is-1-touch {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-touch {
      margin-left: 8.33333%; }
    .column.is-2-touch {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-touch {
      margin-left: 16.66667%; }
    .column.is-3-touch {
      flex: none;
      width: 25%; }
    .column.is-offset-3-touch {
      margin-left: 25%; }
    .column.is-4-touch {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-touch {
      margin-left: 33.33333%; }
    .column.is-5-touch {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-touch {
      margin-left: 41.66667%; }
    .column.is-6-touch {
      flex: none;
      width: 50%; }
    .column.is-offset-6-touch {
      margin-left: 50%; }
    .column.is-7-touch {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-touch {
      margin-left: 58.33333%; }
    .column.is-8-touch {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-touch {
      margin-left: 66.66667%; }
    .column.is-9-touch {
      flex: none;
      width: 75%; }
    .column.is-offset-9-touch {
      margin-left: 75%; }
    .column.is-10-touch {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-touch {
      margin-left: 83.33333%; }
    .column.is-11-touch {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-touch {
      margin-left: 91.66667%; }
    .column.is-12-touch {
      flex: none;
      width: 100%; }
    .column.is-offset-12-touch {
      margin-left: 100%; } }
  @media screen and (min-width: 1088px) {
    .column.is-narrow-desktop {
      flex: none; }
    .column.is-full-desktop {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-desktop {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-desktop {
      flex: none;
      width: 66.6666%; }
    .column.is-half-desktop {
      flex: none;
      width: 50%; }
    .column.is-one-third-desktop {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-desktop {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-desktop {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-desktop {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-desktop {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-desktop {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-desktop {
      margin-left: 75%; }
    .column.is-offset-two-thirds-desktop {
      margin-left: 66.6666%; }
    .column.is-offset-half-desktop {
      margin-left: 50%; }
    .column.is-offset-one-third-desktop {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-desktop {
      margin-left: 25%; }
    .column.is-offset-one-fifth-desktop {
      margin-left: 20%; }
    .column.is-offset-two-fifths-desktop {
      margin-left: 40%; }
    .column.is-offset-three-fifths-desktop {
      margin-left: 60%; }
    .column.is-offset-four-fifths-desktop {
      margin-left: 80%; }
    .column.is-1-desktop {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-desktop {
      margin-left: 8.33333%; }
    .column.is-2-desktop {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-desktop {
      margin-left: 16.66667%; }
    .column.is-3-desktop {
      flex: none;
      width: 25%; }
    .column.is-offset-3-desktop {
      margin-left: 25%; }
    .column.is-4-desktop {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-desktop {
      margin-left: 33.33333%; }
    .column.is-5-desktop {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-desktop {
      margin-left: 41.66667%; }
    .column.is-6-desktop {
      flex: none;
      width: 50%; }
    .column.is-offset-6-desktop {
      margin-left: 50%; }
    .column.is-7-desktop {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-desktop {
      margin-left: 58.33333%; }
    .column.is-8-desktop {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-desktop {
      margin-left: 66.66667%; }
    .column.is-9-desktop {
      flex: none;
      width: 75%; }
    .column.is-offset-9-desktop {
      margin-left: 75%; }
    .column.is-10-desktop {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-desktop {
      margin-left: 83.33333%; }
    .column.is-11-desktop {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-desktop {
      margin-left: 91.66667%; }
    .column.is-12-desktop {
      flex: none;
      width: 100%; }
    .column.is-offset-12-desktop {
      margin-left: 100%; } }
  @media screen and (min-width: 1280px) {
    .column.is-narrow-widescreen {
      flex: none; }
    .column.is-full-widescreen {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-widescreen {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-widescreen {
      flex: none;
      width: 66.6666%; }
    .column.is-half-widescreen {
      flex: none;
      width: 50%; }
    .column.is-one-third-widescreen {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-widescreen {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-widescreen {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-widescreen {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-widescreen {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-widescreen {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-widescreen {
      margin-left: 75%; }
    .column.is-offset-two-thirds-widescreen {
      margin-left: 66.6666%; }
    .column.is-offset-half-widescreen {
      margin-left: 50%; }
    .column.is-offset-one-third-widescreen {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-widescreen {
      margin-left: 25%; }
    .column.is-offset-one-fifth-widescreen {
      margin-left: 20%; }
    .column.is-offset-two-fifths-widescreen {
      margin-left: 40%; }
    .column.is-offset-three-fifths-widescreen {
      margin-left: 60%; }
    .column.is-offset-four-fifths-widescreen {
      margin-left: 80%; }
    .column.is-1-widescreen {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-widescreen {
      margin-left: 8.33333%; }
    .column.is-2-widescreen {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-widescreen {
      margin-left: 16.66667%; }
    .column.is-3-widescreen {
      flex: none;
      width: 25%; }
    .column.is-offset-3-widescreen {
      margin-left: 25%; }
    .column.is-4-widescreen {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-widescreen {
      margin-left: 33.33333%; }
    .column.is-5-widescreen {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-widescreen {
      margin-left: 41.66667%; }
    .column.is-6-widescreen {
      flex: none;
      width: 50%; }
    .column.is-offset-6-widescreen {
      margin-left: 50%; }
    .column.is-7-widescreen {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-widescreen {
      margin-left: 58.33333%; }
    .column.is-8-widescreen {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-widescreen {
      margin-left: 66.66667%; }
    .column.is-9-widescreen {
      flex: none;
      width: 75%; }
    .column.is-offset-9-widescreen {
      margin-left: 75%; }
    .column.is-10-widescreen {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-widescreen {
      margin-left: 83.33333%; }
    .column.is-11-widescreen {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-widescreen {
      margin-left: 91.66667%; }
    .column.is-12-widescreen {
      flex: none;
      width: 100%; }
    .column.is-offset-12-widescreen {
      margin-left: 100%; } }
  @media screen and (min-width: 1472px) {
    .column.is-narrow-fullhd {
      flex: none; }
    .column.is-full-fullhd {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-fullhd {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-fullhd {
      flex: none;
      width: 66.6666%; }
    .column.is-half-fullhd {
      flex: none;
      width: 50%; }
    .column.is-one-third-fullhd {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-fullhd {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-fullhd {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-fullhd {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-fullhd {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-fullhd {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-fullhd {
      margin-left: 75%; }
    .column.is-offset-two-thirds-fullhd {
      margin-left: 66.6666%; }
    .column.is-offset-half-fullhd {
      margin-left: 50%; }
    .column.is-offset-one-third-fullhd {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-fullhd {
      margin-left: 25%; }
    .column.is-offset-one-fifth-fullhd {
      margin-left: 20%; }
    .column.is-offset-two-fifths-fullhd {
      margin-left: 40%; }
    .column.is-offset-three-fifths-fullhd {
      margin-left: 60%; }
    .column.is-offset-four-fifths-fullhd {
      margin-left: 80%; }
    .column.is-1-fullhd {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-fullhd {
      margin-left: 8.33333%; }
    .column.is-2-fullhd {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-fullhd {
      margin-left: 16.66667%; }
    .column.is-3-fullhd {
      flex: none;
      width: 25%; }
    .column.is-offset-3-fullhd {
      margin-left: 25%; }
    .column.is-4-fullhd {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-fullhd {
      margin-left: 33.33333%; }
    .column.is-5-fullhd {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-fullhd {
      margin-left: 41.66667%; }
    .column.is-6-fullhd {
      flex: none;
      width: 50%; }
    .column.is-offset-6-fullhd {
      margin-left: 50%; }
    .column.is-7-fullhd {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-fullhd {
      margin-left: 58.33333%; }
    .column.is-8-fullhd {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-fullhd {
      margin-left: 66.66667%; }
    .column.is-9-fullhd {
      flex: none;
      width: 75%; }
    .column.is-offset-9-fullhd {
      margin-left: 75%; }
    .column.is-10-fullhd {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-fullhd {
      margin-left: 83.33333%; }
    .column.is-11-fullhd {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-fullhd {
      margin-left: 91.66667%; }
    .column.is-12-fullhd {
      flex: none;
      width: 100%; }
    .column.is-offset-12-fullhd {
      margin-left: 100%; } }

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }
  .columns:last-child {
    margin-bottom: -0.75rem; }
  .columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem); }
  .columns.is-centered {
    justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0 !important; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 1.5rem; }
    .columns.is-gapless:last-child {
      margin-bottom: 0; }
  .columns.is-mobile {
    display: flex; }
  .columns.is-multiline {
    flex-wrap: wrap; }
  .columns.is-vcentered {
    align-items: center; }
  @media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
      display: flex; } }
  @media screen and (min-width: 1088px) {
    .columns.is-desktop {
      display: flex; } }

.columns.is-variable {
  --columnGap: 0.75rem;
  margin-left: calc(-1 * var(--columnGap));
  margin-right: calc(-1 * var(--columnGap)); }
  .columns.is-variable .column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap); }
  .columns.is-variable.is-0 {
    --columnGap: 0rem; }
  .columns.is-variable.is-1 {
    --columnGap: 0.25rem; }
  .columns.is-variable.is-2 {
    --columnGap: 0.5rem; }
  .columns.is-variable.is-3 {
    --columnGap: 0.75rem; }
  .columns.is-variable.is-4 {
    --columnGap: 1rem; }
  .columns.is-variable.is-5 {
    --columnGap: 1.25rem; }
  .columns.is-variable.is-6 {
    --columnGap: 1.5rem; }
  .columns.is-variable.is-7 {
    --columnGap: 1.75rem; }
  .columns.is-variable.is-8 {
    --columnGap: 2rem; }

.container {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 1088px) {
    .container {
      max-width: 960px;
      width: 960px; }
      .container.is-fluid {
        margin-left: 64px;
        margin-right: 64px;
        max-width: none;
        width: auto; } }
  @media screen and (max-width: 1279px) {
    .container.is-widescreen {
      max-width: 1152px;
      width: auto; } }
  @media screen and (max-width: 1471px) {
    .container.is-fullhd {
      max-width: 1344px;
      width: auto; } }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1152px;
      width: 1152px; } }
  @media screen and (min-width: 1472px) {
    .container {
      max-width: 1344px;
      width: 1344px; } }

a {
  text-decoration: none;
}
html {
  font-family: 'Roboto';
  font-size: 18px;
  background-color: #ede8e6;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.main {
  margin-top: 32px;
}
html,
body,
#app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}
.red--text {
  color: #f44336 !important;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex .xs1 {
  width: 8.333333333333334%;
}
.flex .xs2 {
  width: 16.666666666666668%;
}
.flex .xs3 {
  width: 25%;
}
.flex .xs4 {
  width: 33.333333333333336%;
}
.flex .xs5 {
  width: 41.66666666666667%;
}
.flex .xs6 {
  width: 50%;
}
.flex .xs7 {
  width: 58.333333333333336%;
}
.flex .xs8 {
  width: 66.66666666666667%;
}
.flex .xs9 {
  width: 75%;
}
.flex .xs10 {
  width: 83.33333333333334%;
}
.flex .xs11 {
  width: 91.66666666666667%;
}
.flex .xs12 {
  width: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-block {
  display: block;
}
.jc-start {
  justify-content: start;
}
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.jc-center {
  justify-content: center;
}
.ai-left {
  align-items: left;
}
.ai-right {
  align-items: right;
}
.ai-center {
  align-items: center;
}
.content {
  font-size: 18px;
  max-width: 100%;
/*
   * Highlited text.
   */
/*
   * Keyboard text.
   */
/*
   * Variable Tag
   */
/*
   * Subscript Tag
   */
/*
   * Superscript Tag
   */
/*
   * Lists
   */
/*
   * Other
   */
}
.content code,
.content kbd,
.content tt,
.content var,
.content samp,
.content pre {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
}
.content h1 {
  font-size: 32px;
}
.content h2 {
  font-size: 24px;
}
.content h3 {
  font-size: 18px;
}
.content h4 {
  font-size: 16px;
}
.content h5 {
  font-size: 13px;
}
.content h6 {
  font-size: 10px;
}
.content > p {
  margin-bottom: 16px;
}
.content > p:last-child {
  margin-bottom: 0;
}
.content a {
  color: #3273dc;
}
.content a:hover {
  text-decoration: underline;
}
.content figure {
  display: block;
  margin-bottom: 16px;
}
.content figure.wp-caption {
  width: auto !important;
}
.content img {
  height: auto;
  max-width: 100%;
}
.content b,
.content strong {
  font-weight: 700;
}
.content em {
  font-style: italic;
}
.content cite {
  font-style: italic;
}
.content abbr,
.content acronym {
  color: #6f6f6f;
  border-bottom: 1px dotted #6f6f6f;
}
.content abbr {
  cursor: help;
}
.content acronym {
  cursor: default;
}
.content code,
.content tt {
  background-color: #f5f5f5;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}
.content hr {
  border: 0;
  height: 1px;
  background-color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 16px;
}
.content small {
  font-size: 85%;
}
.content ins,
.content u {
  background-color: #fff9c0;
  text-decoration: none;
}
.content pre {
  margin-bottom: 16px;
  background-color: #f5f5f5;
  border: 1px solid #eaeaea;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.content ul {
  list-style: disc;
  list-style-position: inside;
}
.content ul ul {
  margin-left: 16px;
}
.content ol {
  list-style-position: inside;
}
.content ol ol {
  margin-left: 16px;
}
.content dl {
  margin-bottom: 16px;
}
.content dl dt {
  font-weight: bold;
}
.content dl dd {
  margin-bottom: 16px;
}
.content blockquote,
.content q {
  margin-bottom: 16px;
  color: #6f6f6f;
}
.content blockquote {
  padding-left: 16px;
  border-left: 4px solid #6f6f6f;
}
.content blockquote p {
  margin-bottom: 0;
}
.content blockquote em {
  font-style: normal;
}
.content table {
  margin-bottom: 16px;
}
.content table th,
.content table td {
  border: 1px solid #dbdbdb;
  padding: 0.25em 0.5em;
}
.content address {
  font-style: italic;
  margin-bottom: 16px;
}
input,
textarea {
  font-size: 16px;
}
input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  display: block;
  width: 100%;
  padding: 8px 16px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.1);
}
input[type="submit"] {
  padding: 8px 16px;
  background-color: #808080;
  color: #fff;
  border: none;
}
.icon {
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
}
.icon--18px {
  font-size: 18px;
  line-height: 18px;
}
.icon--left {
  margin-right: 8px;
}
.icon--right {
  margin-left: 8px;
}
.section {
  padding: 0 16px;
}
.sidebar .card {
  padding: 16px;
}
.sidebar :not(:last-child) {
  margin-bottom: 16px;
}
.ma-0 {
  margin: 0px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.ma-1 {
  margin: 8px !important;
}
.mt-1 {
  margin-top: 8px !important;
}
.mr-1 {
  margin-right: 8px !important;
}
.mb-1 {
  margin-bottom: 8px !important;
}
.ml-1 {
  margin-left: 8px !important;
}
.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.ma-2 {
  margin: 16px !important;
}
.mt-2 {
  margin-top: 16px !important;
}
.mr-2 {
  margin-right: 16px !important;
}
.mb-2 {
  margin-bottom: 16px !important;
}
.ml-2 {
  margin-left: 16px !important;
}
.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.ma-3 {
  margin: 32px !important;
}
.mt-3 {
  margin-top: 32px !important;
}
.mr-3 {
  margin-right: 32px !important;
}
.mb-3 {
  margin-bottom: 32px !important;
}
.ml-3 {
  margin-left: 32px !important;
}
.mx-3 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.my-3 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.ma-4 {
  margin: 48px !important;
}
.mt-4 {
  margin-top: 48px !important;
}
.mr-4 {
  margin-right: 48px !important;
}
.mb-4 {
  margin-bottom: 48px !important;
}
.ml-4 {
  margin-left: 48px !important;
}
.mx-4 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
.my-4 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.ma-5 {
  margin: 96px !important;
}
.mt-5 {
  margin-top: 96px !important;
}
.mr-5 {
  margin-right: 96px !important;
}
.mb-5 {
  margin-bottom: 96px !important;
}
.ml-5 {
  margin-left: 96px !important;
}
.mx-5 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}
.my-5 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}
.pa-0 {
  padding: 0px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.pa-1 {
  padding: 8px !important;
}
.pt-1 {
  padding-top: 8px !important;
}
.pr-1 {
  padding-right: 8px !important;
}
.pb-1 {
  padding-bottom: 8px !important;
}
.pl-1 {
  padding-left: 8px !important;
}
.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.pa-2 {
  padding: 16px !important;
}
.pt-2 {
  padding-top: 16px !important;
}
.pr-2 {
  padding-right: 16px !important;
}
.pb-2 {
  padding-bottom: 16px !important;
}
.pl-2 {
  padding-left: 16px !important;
}
.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.pa-3 {
  padding: 32px !important;
}
.pt-3 {
  padding-top: 32px !important;
}
.pr-3 {
  padding-right: 32px !important;
}
.pb-3 {
  padding-bottom: 32px !important;
}
.pl-3 {
  padding-left: 32px !important;
}
.px-3 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.py-3 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.pa-4 {
  padding: 48px !important;
}
.pt-4 {
  padding-top: 48px !important;
}
.pr-4 {
  padding-right: 48px !important;
}
.pb-4 {
  padding-bottom: 48px !important;
}
.pl-4 {
  padding-left: 48px !important;
}
.px-4 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.py-4 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.pa-5 {
  padding: 96px !important;
}
.pt-5 {
  padding-top: 96px !important;
}
.pr-5 {
  padding-right: 96px !important;
}
.pb-5 {
  padding-bottom: 96px !important;
}
.pl-5 {
  padding-left: 96px !important;
}
.px-5 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}
.py-5 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.display-4 {
  font-size: 112px !important;
  font-weight: 300 !important;
  line-height: 1 !important;
  letter-spacing: -0.04em !important;
}
.display-3 {
  font-size: 56px !important;
  font-weight: 400 !important;
  line-height: 1.35 !important;
  letter-spacing: -0.02em !important;
}
.display-2 {
  font-size: 45px !important;
  font-weight: 400 !important;
  line-height: 48px !important;
  letter-spacing: normal !important;
}
.display-1 {
  font-size: 34px !important;
  font-weight: 300 !important;
  line-height: 40px !important;
  letter-spacing: normal !important;
}
.headline {
  font-size: 24px !important;
  font-weight: 300 !important;
  line-height: 32px !important;
  letter-spacing: normal !important;
}
.title {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  letter-spacing: 0.02em !important;
}
.heading-1 {
  font-size: 18px !important;
  font-weight: 500 !important;
}
.subheading {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.body-2 {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.body-1 {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.caption {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.tt-none {
  text-transform: none !important;
}
.tt-upper {
  text-transform: uppercase !important;
}
.tt-lower {
  text-transform: lowercase !important;
}
.fw-bold {
  font-weight: bold !important;
}
.text--center {
  text-align: center !important;
}
.btn {
  background-color: #4a4a4a;
  border: 0;
  border-bottom: 2px solid #332f2f;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 8px 16px;
  position: relative /* [1] */;
  text-transform: uppercase;
  font-family: inherit;
}
.btn__content {
  width: inherit;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
  color: inherit;
}
.btn--icon {
  width: 40px;
  height: 40px;
  min-width: 0;
  padding: 0;
  display: inline-flex;
}
.btn--icon .btn__content {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
}
.btn--icon .icon {
  width: inherit;
  height: inherit;
}
.btn--flat {
  background-color: transparent !important;
  border-bottom: 0;
}
.btn--light {
  color: #6f6f6f;
}
.btn--dark {
  color: #fff;
}
.btn .btn .icon--right {
  margin-left: 16px;
}
.btn .btn .icon--left {
  margin-right: 16px;
}
.btn:hover:before {
  border-radius: inherit;
  color: inherit;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.12;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
  background-color: currentColor;
}
.card {
  background: #fff;
  color: #000;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  text-decoration: none;
  display: block;
  border-radius: 2px;
}
.card > *:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.card > *:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.card__media {
  height: 200px;
}
@media (min-width: 600px) {
  .card__media {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .card__media {
    height: 400px;
  }
}
.card__media img {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.card__media-bg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
}
.card__title {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  word-break: break-word;
}
.card__title h2 {
  font-size: inherit;
}
.card__title a {
  text-decoration: none;
  color: inherit;
}
.card__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  word-break: break-word;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 16px;
}
.card--max-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card--max-height >:last-child {
  margin-top: auto;
}
.card--flat {
  box-shadow: none;
}
.card--shadow {
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.field {
  display: flex;
  align-items: center;
}
.field:not(:last-child) {
  margin-bottom: 16px;
}
.field__label {
  width: 150px;
}
.field input {
  margin: 0;
}
.footer {
  color: #fff;
  background-color: #2d2d2d;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 32px;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer a:hover {
  opacity: 1;
}
.iconbox {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.iconbox__text {
  font-size: inherit;
  margin-left: 8px;
  font-weight: 500;
}
.navbar {
  height: 50px;
  display: block;
  position: relative;
  background-color: #2d2d2d;
  color: #fff;
  z-index: 30;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.navbar__brand {
  display: flex;
  align-items: stretch;
  height: inherit;
}
.navbar__menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: inherit;
  color: inherit;
}
.navbar__menu--active {
  display: block;
}
.navbar__item {
  display: block;
  padding: 8px 16px;
  position: relative;
  color: inherit;
}
.navbar__item:hover:before {
  border-radius: inherit;
  color: inherit;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.12;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
  background-color: currentColor;
}
.navbar__item-dropdown {
  padding: 0;
}
.navbar__item-dropdown:hover:before {
  display: none;
}
.navbar__brand .navbar__item {
  display: flex;
  align-items: center;
}
.navbar__brand .navbar__item:hover:before {
  border-radius: inherit;
  color: inherit;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.12;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
  background-color: currentColor;
}
.navbar__brand .navbar__item img {
  display: block;
}
.navbar__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  position: relative;
  cursor: pointer;
}
.navbar__burger:hover:before {
  border-radius: inherit;
  color: inherit;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.12;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
  background-color: currentColor;
}
.navbar__spacer {
  margin-left: auto;
}
@media (min-width: 600px) {
  .navbar {
    display: flex;
    align-items: stretch;
  }
  .navbar__burger {
    display: none;
  }
  .navbar__menu {
    display: flex;
    flex-grow: 1;
    position: static;
    width: auto;
  }
  .navbar__start,
  .navbar__end {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    background-color: inherit;
    color: inherit;
  }
  .navbar__item {
    display: flex;
    align-items: center;
  }
  .navbar__item img {
    display: block;
  }
  .navbar__item-dropdown {
    display: flex;
    background-color: inherit;
    color: inherit;
  }
  .navbar__item-dropdown:hover .navbar__item + .navbar__dropdown {
    display: block;
  }
  .navbar__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: inherit;
    color: inherit;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination__prev {
  order: 1;
}
.pagination__next {
  order: 3;
}
.pagination__list {
  order: 2;
  display: flex;
  align-items: center;
}
.pagination__list-item {
  display: block;
  margin: 4px;
}
.pagination__link {
  background-color: #dedede;
  color: #000;
  border-bottom: none;
}
.pagination__link--is-current {
  background-color: #4a4a4a;
  color: #fff;
}
.postmeta {
  display: flex;
  align-items: center;
  color: #808080;
}
.postmeta__item:not(:first-child) {
  margin-left: 16px;
}
.snackbar {
  background-color: #2c2c2c;
  color: #fff;
  width: 320px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 50%;
  margin-left: -100px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: none;
}
.snackbar__content {
  text-align: center;
  padding: 8px 16px;
}
.snackbar--active {
  display: block;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
.table thead tr:first-child {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.table thead th,
.table tbody td {
  height: 48px;
  padding: 0 24px;
  text-align: left;
}
.tabs {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.tabs__bar {
  display: flex;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}
.tabs__bar-item {
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
  text-align: left;
  padding: 6px 12px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
.tabs__bar-item:focus {
  box-shadow: none;
  background-color: #eee;
}
.tabs__bar-item--active {
  background-color: #eee;
}
.tabs__items {
  width: 100%;
}
.tip {
  position: relative;
  line-height: 1.5;
}
.tip__text {
  display: none;
  font-size: 12px;
  background-color: #444;
  text-align: center;
  color: #fff;
  position: absolute;
  padding: 4px 8px;
  border-radius: 2px;
  width: 150px;
  top: 100%;
  left: 50%;
  margin-left: -75px;
  margin-top: 8px;
  box-sizing: border-box;
  z-index: 10;
}
.tip:hover .tip__text {
  display: block;
}
.tip--left {
  margin-right: 8px;
}
.tip--right {
  margin-left: 8px;
}
.tip--cursor {
  cursor: pointer;
}
.todo {
  background-color: #f0ede5;
  padding: 16px;
  position: relative;
}
.todo__body {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
.todo__media {
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.todo__media-bg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
}
.todo__actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}
.footer {
  color: #fff;
  background-color: #2d2d2d;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 32px;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer a:hover {
  opacity: 1;
}
.y-row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 599px) {
  .y-row .y-xs1 {
    width: 8.333333333333334%;
  }
  .y-row .y-xs2 {
    width: 16.666666666666668%;
  }
  .y-row .y-xs3 {
    width: 25%;
  }
  .y-row .y-xs4 {
    width: 33.333333333333336%;
  }
  .y-row .y-xs5 {
    width: 41.66666666666667%;
  }
  .y-row .y-xs6 {
    width: 50%;
  }
  .y-row .y-xs7 {
    width: 58.333333333333336%;
  }
  .y-row .y-xs8 {
    width: 66.66666666666667%;
  }
  .y-row .y-xs9 {
    width: 75%;
  }
  .y-row .y-xs10 {
    width: 83.33333333333334%;
  }
  .y-row .y-xs11 {
    width: 91.66666666666667%;
  }
  .y-row .y-xs12 {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .y-row .y-md1 {
    width: 8.333333333333334%;
  }
  .y-row .y-md2 {
    width: 16.666666666666668%;
  }
  .y-row .y-md3 {
    width: 25%;
  }
  .y-row .y-md4 {
    width: 33.333333333333336%;
  }
  .y-row .y-md5 {
    width: 41.66666666666667%;
  }
  .y-row .y-md6 {
    width: 50%;
  }
  .y-row .y-md7 {
    width: 58.333333333333336%;
  }
  .y-row .y-md8 {
    width: 66.66666666666667%;
  }
  .y-row .y-md9 {
    width: 75%;
  }
  .y-row .y-md10 {
    width: 83.33333333333334%;
  }
  .y-row .y-md11 {
    width: 91.66666666666667%;
  }
  .y-row .y-md12 {
    width: 100%;
  }
}
.y-row.y-gap > div {
  padding: 8px;
}
.y-wrap {
  flex-wrap: wrap;
}
.y-justify-space-between {
  justify-content: space-between;
}
