input, textarea {
  font-size: 16px
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  display: block
  width: 100%
  padding: 8px 16px
  outline: none
  border: 1px solid rgba(0, 0, 0, 0.1)
}

input[type="submit"] {
  padding: 8px 16px
  background-color: gray
  color: #FFF
  border: none
}
