forPhoneOnly() {
  @media (max-width: 599px) { {block} }
}

forTabletPortraitUp() {
  @media (min-width: 600px) { {block} }
}

forTabletLandscapeUp() {
  @media (min-width: 900px) { {block} }
}

forDesktopUp() {
  @media (min-width: 1200px) { {block} }
}

forBigDesktopUp() {
  @media (min-width: 1800px) { {block} }
}
