hoverCurrentColor() {
  border-radius: inherit
  color: inherit
  content: ''
  position: absolute
  left: 0
  top: 0
  height: 100%
  opacity: .12
  transition: .3s cubic-bezier(.25,.8,.5,1)
  width: 100%
  background-color: currentColor
}